
 #container{
 	
 	background-image: url('../img/bkimg.jpg');
	background-size: cover;
	opacity: 0.9;
	width: 500px;
	height: 1050px;
	margin-top: 40px;
	margin-left:700px;
	position:relative;
	
}
.header{

	font-size: 24px;
	font-weight: bold;
	color: white;
	padding: 20px 0 0 20px;
}
.details{
	border:3px solid #e6e6fa;
	margin-left: 20px;
	margin-top: 20px;
	width: 450px;
	height:50px;
	border-radius: 10px;
}
#button{
    border:3px solid #e6e6fa;
	margin: auto;
	margin-top: 20px;
	width: 100px;
	height:40px;
	border-radius: 40px;
	background-color: black;
	color:white;	
}
#button_label{
	padding: 7px 14px 7px 17px;
	font-weight: bold;
}
#address{
    border:3px solid #e6e6fa;
	margin-left: 20px;
	margin-top: 20px;
	width: 450px;
	height:70px;
	border-radius: 10px;	
}
.background-color-field{
	background-image: url('../img/bkimg2.jpg');
	background-size: cover;
	opacity: 0.8;
}
label{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
    width:100px;
    clear:left;
    text-align:left;
    padding: 20px;
    color: black;
    font-size: 14px;
}
.input2,label {
    float:left;
}
.input2{
	width: 260px;
	height: 26px;
    border-radius: 5px;
    margin-top: 10px;
}
textarea{
	width: 260px;
	border-radius: 5px;
    margin-top: 10px;
}
#input_radio{
	font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    color: black;
    font-size: 14px;
}
.rado_label{
	padding-right: 30px;
}
img{
    padding-right: 5px;	
}